@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


:root {
  --color-baby-powder: #f8f6f0;
  --color-eerie-black: #1b1b1b;
  --color-night: #0f0e0d;

  --background: var(--color-baby-powder);
  --foreground: var(--color-night);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-eerie-black);
    --foreground: var(--color-baby-powder);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Caveat", cursive;
}

@layer base {
  * {
    @apply m-0 box-border p-0;
  }
}
